{{ define "main" }}
<div class="container is-fluid py-6">
  <p class="has-text-centered" style="color: #a3a3a3">↓ PORTFOLIO ↓</p>
</div>
<div class="container is-fluid pt-6">

  <div class="masonry">
    {{ range where .Site.Pages "Type" "trabajos" }}
    <div class="item">
      <img loading="lazy" data-title="{{ .Params.title }}" data-cuerpo="{{ .Params.cuerpo }}"
        src="https://portfolio-basty.s3.eu-west-2.amazonaws.com{{ .Params.imagen }}"></a>
    </div>
    {{ end }}
  </div>
</div>

{{ end }}